<div class="articles">

	<% if(posts.length == 0) { %>
		<!-- No article -->
		<div>
		    <section>
		        <div class="container">
		            <div class="container-title">
		                No article.
		            </div>
		        </div>
		    </section>
		</div>
	<% } %>

	
		
	<div class="container">
		<div class="row">
			<% for (var i = 0; i < posts.length; i++) { %>

				<% 
					var currentPost = posts[i];
					var jsonMetadata = JSON.parse(currentPost.json_metadata);
					console.log(jsonMetadata);
				%>
				<div class="article col-xl-3 col-md-4 col-sm-6">
			    	<div class="article-header-img">
			    		<div class="article-header-img-cropper">
			    			<% if (jsonMetadata.image != null) { -%>
			    				<img class="rounded" src=<%= jsonMetadata.image[0]; %> >
			    			<% } else { -%>
			    				<img class="rounded" src="images/default.jpeg" >
			    			<% } -%>
			    		</div>
			    	</div>

			        <div class="article-header">
			            <div class="article-header-title">
			                <a href=<%= "https://steemit.com" + currentPost.url %>
			                   target="_blank"> <%= currentPost.title %> </a>
			            </div>
			        </div>

			        <div class="article-body">
			            <p></p>
			        </div>

		            <div class="article-footer-tags">
		            	<% 
		            		var tags = jsonMetadata.tags;
		            	%>
		                <% for (var j = 0; j < tags.length; j++) { %>
		                	<a href="https://steemit.com/trending/<%= tags[j] %>" target="_blank"><%= tags[j] %></a>
		                <% } %>	
		            </div>
				</div>
			<% } %>
		</div>
	</div>
		
</div>
